
a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19px;
}

h2{
  font-size: 3.2rem;
  line-height: 38px;
}

.header-container {
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  min-width: 176px;
  width: 176px;
  margin-right: 16px;
}

.header-contain {
  width: 1100px;
  justify-content: space-between;
}

.input-search {
  width: 393px;
}

.btn-login a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19px;
}

.header-banner-container {
  padding-left: 100px;
  padding-bottom: 0px;
}

.header-banner-contain h1 {
  font-size: 5.2rem;
  line-height: 61px;
}

.header-banner-contain p {
  font-weight: 400;
}

.main {
  margin-left: 100px;
  margin-right: 100px;
}

.container {
  padding-top: 64px;
}

.product-header__link a {
  font-weight: 700;
}

.card {
  width: 176px;
  height: 252px;
}

.card-img-contain {
  width: 176px;
}

.card-img-contain__product {
  width: 176px;
}

.card-productName {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 16px;
}

.card-link a {
  font-weight: 700;
}

.contact {
  height: 368px;
}

/* .contact-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 32px;
} */

.contact-contain {
  flex-direction: row;
  width: 50%;
}

.contact-contain__list {
  height: 234px;
}

.contact-list-container__item {
  line-height: 24px;
}

.formulario {
  margin-top: -10px;
  margin-left: 40px;
  width: 50%;
}

.button {
  width: 144px;
  height: 51px;
  padding: 16px;
}